{{!
    This file is part of the Allocation form activity.

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_allocationform/mobile_ready

    Renders the ready page of the allocation form in the mobile app.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * beforestart
    * choices
    * deadline
    * id
    * notwant
    * numallocations
    * numchoices
    * options

    Example context (json):
    {
        "beforestart": false,
        "choices": [
            {
                "id": "choice1",
                "number": 1
            },
            {
                "id": "choice2",
                "number": 2
            }
        ],
        "deadline": 2372584020,
        "id": 467,
        "notwant": true,
        "numallocations": 1,
        "numchoices": 2,
        "options": [
            {
                "id": 5,
                "name": "Option 1"
            },
            {
                "id": 7,
                "name": "Option 2"
            },
            {
                "id": 3,
                "name": "A fun option"
            }
        ]
    }
}}
{{=<% %>=}}
<div>
    <%#beforestart%>
    <ion-card>
        <ion-card-content>
            {{ 'plugin.mod_allocationform.not_active' | translate }}
        </ion-card-content>
    </ion-card>
    <%/beforestart%>
    <%^beforestart%>
    <ion-card>
        <ion-card-content>
            {{ 'plugin.mod_allocationform.deadline_message' | translate: {$a: { deadline: <% deadline %> * 1000 | coreFormatDate: "dffulldate" } } }}
        </ion-card-content>
    </ion-card>
    <ion-card *ngFor="let error of CONTENT_OTHERDATA.warnings" color="danger">
        <ion-card-content translate>
            {{error}}
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>
            <%^notwant%>{{ 'plugin.mod_allocationform.instructions' | translate: {$a: { choices: <% numchoices %>, allocation: <% numallocations %> } } }}<%/notwant%>
            <%#notwant%>{{ 'plugin.mod_allocationform.instructionsnotwant' | translate: {$a: { choices: <% numchoices %>, allocation: <% numallocations %> } } }}<%/notwant%>
            <ion-list>
                <%#choices%>
                <ion-item>
                    <ion-select placeholder="{{ 'plugin.mod_allocationform.choicerequired' | translate }}" [(ngModel)]="CONTENT_OTHERDATA.data.<% id %>">
                        <div slot="label">
                            {{ 'plugin.mod_allocationform.choice' | translate: {$a: { choice: <% number %> } } }}
                            <ion-badge *ngFor="let error of CONTENT_OTHERDATA.validation.<% id %>" color="danger" translate>
                                {{error}}
                            </ion-badge>
                        </div>
                        <%#options%><%> mod_allocationform/mobile/latest/option_ready %><%/options%>
                    </ion-select>
                </ion-item>
                <%/choices%>
                <%#notwant%>
                <ion-item>
                    <ion-select [(ngModel)]="CONTENT_OTHERDATA.data.notwant">
                        <div slot="label">
                            {{ 'plugin.mod_allocationform.al_notwant' | translate }}
                            <ion-badge *ngFor="let error of CONTENT_OTHERDATA.validation.notwant" color="danger" translate>
                                {{error}}
                            </ion-badge>
                        </div>
                        <ion-select-option value="0">{{ 'plugin.mod_allocationform.notrequired' | translate }}</ion-select-option>
                        <%#options%><%> mod_allocationform/mobile/latest/option_ready %><%/options%>
                    </ion-select>
                </ion-item>
                <%/notwant%>
            </ion-list>
            <ion-button expand="full"
                core-site-plugins-call-ws name="mod_allocationform_choices_submit"
                [params]="{id: <% id %>, choices: CONTENT_OTHERDATA.data }"
                [preSets]="{getFromCache: 0, saveToCache: 0}"
                (onSuccess) = "check_response($event)"
            >
                {{ 'core.save' | translate }}
            </ion-button>
        </ion-card-content>
    </ion-card>
    <%/beforestart%>
    <!-- Call log WS when the template is loaded. -->
    <span core-site-plugins-call-ws-on-load name="mod_allocationform_view_allocationform" [params]="{id: <% id %>}" [preSets]="{getFromCache: 0, saveToCache: 0}"></span>
</div>
