{{!
    This file is part of the Allocation form activity.

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_allocationform/mobile_allallocations

    Renders all the allocations made on an allocation form for the mobile app.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * canedit
    * canexportallocations
    * canexportchoices
    * canreprocess
    * exportallocationurl
    * exportchoiceurl
    * hasunallocated
    * id
    * inreview
    * options
    * progress
    * releaseurl
    * reprocessurl
    * unallocated

    Example context (json):
    {
        "canedit": true,
        "canexportallocations": true,
        "canexportchoices": true,
        "canreprocess": true,
        "exportallocationurl": "http://example.com",
        "exportchoiceurl": "http://example.com",
        "hasunallocated": true,
        "id": 5632,
        "inreview": true,
        "options": [
            {
                "editurl": "http://example.com",
                "maxallocations": 1,
                "name": "Option 1",
                "users": [
                    {"fullname": "Naomi Nagata"}
                ]
            },
            {
                "editurl": "http://example.com",
                "maxallocations": 2,
                "name": "Option 2",
                "users": [
                    {"fullname": "Alex Kamal"},
                    {"fullname": "Bobbie Draper"}
                ]
            }
        ],
        "progress": {
            "review": true
        },
        "releaseurl": "http://example.com",
        "reprocessurl": "http://example.com",
        "unallocated": [
            {"fullname": "James Holden"}
        ]
    }
}}
{{=<% %>=}}
<div>
    <ion-card>
        <ion-card-header>
            <ion-card-title>{{ 'plugin.mod_allocationform.allocations' | translate }}</ion-card-title>
        </ion-card-header>
        <%#inreview%>
        <ion-card-content>
            <ion-badge color="warning">{{ 'plugin.mod_allocationform.allocations_not_visible' | translate }}</ion-badge>
        </ion-card-content>
        <%/inreview%>
    </ion-card>
    <%#options%>
    <ion-card>
        <ion-card-header>
            <ion-card-title><%name%></ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ul>
                <%#users%>
                <li><%fullname%></li>
                <%/users%>
                <%^users%>
                <li>{{ 'plugin.mod_allocationform.nousersallocated' | translate }}</li>
                <%/users%>
            </ul>
        </ion-card-content>
    </ion-card>
    <%/options%>
    <%^options%>
    <ion-card>
        <ion-card-content>
            {{ 'plugin.mod_allocationform.no_allocations' | translate }}
        </ion-card-content>
    </ion-card>
    <%/options%>
    <%#hasunallocated%>
    <ion-card>
        <ion-card-header>
            <ion-card-title>{{ 'plugin.mod_allocationform.unallocated' | translate }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ul>
                <%#unallocated%>
                <li><%fullname%></li>
                <%/unallocated%>
            </ul>
        </ion-card-content>
    </ion-card>
    <%/hasunallocated%>
    <!-- Call log WS when the template is loaded. -->
    <span core-site-plugins-call-ws-on-load name="mod_allocationform_view_allocationform" [params]="{id: <% id %>}" [preSets]="{getFromCache: 0, saveToCache: 0}"></span>
</div>
