{{!
    This file is part of the Allocation form activity.

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_allocationform/mobile_processing

    Renders the ready page of the allocation form for the mobile app.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * courseurl
    * id
    * progress

    Example context (json):
    {
        "courseurl": "http://example.com",
        "id": 467,
        "progress": {
            "processing": true
        }
    }
}}
{{=<% %>=}}
<div>
    <ion-card>
        <ion-card-content>
            {{ 'plugin.mod_allocationform.queued_for_processing' | translate }}
        </ion-card-content>
    </ion-card>
    <!-- Call log WS when the template is loaded. -->
    <span core-site-plugins-call-ws-on-load name="mod_allocationform_view_allocationform" [params]="{id: <% id %>}" [preSets]="{getFromCache: 0, saveToCache: 0}"></span>
</div>
