{{!
    This file is part of the Allocation form activity.

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_allocationform/allallocations

    Renders all the allocations made on an allocation form.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * canedit
    * canexportallocations
    * canexportchoices
    * canreprocess
    * exportallocationurl
    * exportchoiceurl
    * hasunallocated
    * inreview
    * options
    * progress
    * releaseurl
    * reprocessurl
    * unallocated

    Example context (json):
    {
        "canedit": true,
        "canexportallocations": true,
        "canexportchoices": true,
        "canreprocess": true,
        "exportallocationurl": "http://example.com",
        "exportchoiceurl": "http://example.com",
        "hasunallocated": true,
        "inreview": true,
        "options": [
            {
                "editurl": "http://example.com",
                "maxallocations": 1,
                "name": "Option 1",
                "users": [
                    {"fullname": "Naomi Nagata"}
                ]
            },
            {
                "editurl": "http://example.com",
                "maxallocations": 2,
                "name": "Option 2",
                "users": [
                    {"fullname": "Alex Kamal"},
                    {"fullname": "Bobbie Draper"}
                ]
            }
        ],
        "progress": {
            "review": true
        },
        "releaseurl": "http://example.com",
        "reprocessurl": "http://example.com",
        "unallocated": [
            {"fullname": "James Holden"}
        ]
    }
}}
{{#progress}}{{> mod_allocationform/progress }}{{/progress}}
<h3>{{#str}} allocations, mod_allocationform {{/str}}</h3>
{{#inreview}}<div class="alert alert-warning">{{#str}} allocations_not_visible, mod_allocationform {{/str}}</div>{{/inreview}}
{{#options}}{{> mod_allocationform/option_result }}{{/options}}
{{^options}}{{#str}} no_allocations, mod_allocationform {{/str}}{{/options}}
{{#canreprocess}}
    {{#hasunallocated}}
    <div class="box generalbox mod_introbox">
        <h4>{{#str}} unallocated, mod_allocationform {{/str}}</h4>
        <ul>
            {{#unallocated}}<li>{{fullname}}</li>{{/unallocated}}
        </ul>
    </div>
    {{/hasunallocated}}
    <p>
        <a
            href="{{{reprocessurl}}}"
            class="btn btn-outline-danger"
            aria-describedby="reprocess-warning"
        >{{#str}} reprocess, mod_allocationform {{/str}}</a>
        <span id="reprocess-warning">{{#str}} reprocess_warning, mod_allocationform {{/str}}</span>
    </p>
{{/canreprocess}}
<p>
    {{#canedit}}{{#inreview}}<a href="{{{releaseurl}}}" class="btn btn-primary">{{#str}} show_allocations, mod_allocationform {{/str}}</a>{{/inreview}}{{/canedit}}
    {{#canexportchoices}}<a href="{{{exportchoiceurl}}}" class="btn btn-secondary">{{#str}} generate_csv, mod_allocationform {{/str}}</a>{{/canexportchoices}}
    {{#canexportallocations}}<a href="{{{exportallocationurl}}}" class="btn btn-secondary">{{#str}} generate_allocation_csv, mod_allocationform {{/str}}</a>{{/canexportallocations}}
</p>
