{{!
    This file is part of the Allocation form activity.

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_allocationform/editing

    Renders the editing page of the allocation form.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * activateurl
    * badrestrictions
    * deadline
    * deadlinepassed
    * newoptionurl
    * numberofchoices
    * options
    * people
    * progress
    * totalallocations
    * totalslots
    * toofewslots

    Example context (json):
    {
        "activateurl": "http://example.com",
        "badrestrictions": 1,
        "deadline": 123456789,
        "deadlinepassed": false,
        "newoptionurl": "http://example.com",
        "numberofchoices": 2,
        "options": [
            {
                "deleteurl": "http://example.com",
                "editurl": "http://example.com",
                "id": 53,
                "maxallocation": 15,
                "name": "Option 1",
                "restrictedusers": 0,
                "restricturl": "http://example.com"
            },
            {
                "deleteurl": "http://example.com",
                "editurl": "http://example.com",
                "id": 54,
                "maxallocation": 3,
                "name": "Option 2",
                "restrictedusers": 1,
                "restricturl": "http://example.com"
            }
        ],
        "people": 40,
        "progress": {
            "editing": true
        },
        "totalallocations": 1,
        "totalslots": 18,
        "toofewslots": true
    }
}}
{{#progress}}{{> mod_allocationform/progress }}{{/progress}}
<table class="table table-sm table-striped">
    <tr><th scope="row">{{#str}} slots, mod_allocationform {{/str}}</th><td>{{totalslots}}</td></tr>
    <tr><th scope="row">{{#str}} numberofallocations, mod_allocationform {{/str}}</th><td>{{totalallocations}}</td></tr>
    <tr><th scope="row">{{#str}} people, mod_allocationform {{/str}}</th><td>{{people}}</td></tr>
    <tr>
        <th scope="row">{{#str}} deadline, mod_allocationform {{/str}}</th>
        <td>{{#userdate}} {{deadline}}, {{#str}} strftimedatetime {{/str}} {{/userdate}}</td>
    </tr>
</table>
{{#deadlinepassed}}<div class="alert alert-danger">{{#str}} deadline_passed, mod_allocationform {{/str}}</div>{{/deadlinepassed}}
{{#toofewslots}}<div class="alert alert-danger">{{#str}} not_enough_slots, mod_allocationform {{/str}}</div>{{/toofewslots}}
<h2>{{#str}} option_list, mod_allocationform {{/str}}</h2>
{{#badrestrictions}}
<div class="alert alert-danger">
    {{#str}} restrictionsexceeded, mod_allocationform, {"users":  {{#quote}}{{badrestrictions}}{{/quote}}, "numberofchoices": {{#quote}}{{numberofchoices}}{{/quote}}} {{/str}}
</div>
{{/badrestrictions}}
<table id="allocationform-option-list" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">{{#str}} option_name, mod_allocationform {{/str}}</th>
            <th scope="col">{{#str}} option_maxallocation, mod_allocationform {{/str}}</th>
            <th scope="col">{{#str}} option_restricted, mod_allocationform {{/str}}</th>
            <th scope="col">{{#str}} action {{/str}}</th>
        </tr>
    </thead>
    <tbody>
        {{#options}}{{> mod_allocationform/option_editing }}{{/options}}
    </tbody>
</table>
<p>
    <a href="{{{newoptionurl}}}" class="btn btn-primary">{{#str}} add_option, mod_allocationform  {{/str}}</a>
    <a href="{{{activateurl}}}" class="btn btn-primary">{{#str}} make_active, mod_allocationform  {{/str}}</a>
</p>
