{{!
    This file is part of the Allocation form activity.

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_allocationform/form

    Renders Moodle form for the allocation form.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * form
    * progress

    Example context (json):
    {
        "form": "<form>A html form</form>",
        "progress": {
            "editing": true
        }
    }
}}
{{#progress}}{{> mod_allocationform/progress }}{{/progress}}
{{{form}}}
