{{!
    This file is part of the Allocation form activity.

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_allocationform/option_editing

    Renders an option for the editing page of the allocation form.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * deleteurl
    * editurl
    * id
    * maxallocation
    * name
    * restrictedusers
    * restricturl

    Example context (json):
    {
        "deleteurl": "http://example.com",
        "editurl": "http://example.com",
        "id": 53,
        "maxallocation": 15,
        "name": "Option 1",
        "restrictedusers": 0,
        "restricturl": "http://example.com"
    }
}}
<tr id="option-{{id}}" class="option">
    <td class="option_name">{{name}}</td>
    <td class="option_max">{{maxallocation}}</td>
    <td class="option_restricted">{{restrictedusers}}</td>
    <td class="option_controls">
        <a
            href="{{{editurl}}}"
            class="btn btn-sm btn-outline-primary edit"
            aria-label="{{#str}} aria:edit, mod_allocationform, {{name}} {{/str}}"
        >{{#str}} edit {{/str}}</a>
        <a
            href="{{{deleteurl}}}"
            class="btn btn-sm btn-outline-danger delete"
            aria-label="{{#str}} aria:delete, mod_allocationform, {{name}} {{/str}}"
        >{{#str}} delete {{/str}}</a>
        <a
            href="{{{restricturl}}}"
            class="btn btn-sm btn-outline-warning restrict"
            aria-label="{{#str}} aria:restrict, mod_allocationform, {{name}} {{/str}}"
        >{{#str}} restrict, mod_allocationform {{/str}}</a>
    </td>
</tr>
