{{!
    This file is part of the Allocation form activity.

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_allocationform/processing

    Renders the processing page of the allocation form.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * courseurl
    * progress

    Example context (json):
    {
        "courseurl": "http://example.com",
        "progress": {
            "processing": true
        }
    }
}}
{{#progress}}{{> mod_allocationform/progress }}{{/progress}}
<div class="alert alert-info">{{#str}} queued_for_processing, mod_allocationform {{/str}}</div>
<a href="{{{courseurl}}}" class="btn btn-primary">{{#str}} continue {{/str}}</a>
