{{!
    This file is part of the Allocation form activity.

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_allocationform/progress

    Renders the bar that displays the progress of the allocation form towards completion.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * editing
    * process
    * processed
    * ready
    * review

    Example context (json):
    {
        "editing": true,
        "process": false,
        "processed": false,
        "ready": false,
        "review": false
    }
}}
<div id="mod_allocationform_state" class="mb-3">
    {{#editing}} {{#str}} in_editingmode, mod_allocationform {{/str}} {{/editing}}
    {{#ready}} {{#str}} in_readymode, mod_allocationform {{/str}} {{/ready}}
    {{#process}} {{#str}} in_processmode, mod_allocationform {{/str}} {{/process}}
    {{#review}} {{#str}} in_reviewmode, mod_allocationform {{/str}} {{/review}}
    {{#processed}} {{#str}} in_processedmode, mod_allocationform {{/str}} {{/processed}}
</div>
