{{!
    This file is part of the Allocation form activity.

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_allocationform/ready

    Renders the ready page of the allocation form.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * beforestart
    * canedit
    * canexportchoices
    * choiceform
    * courseurl
    * deadline
    * editingurl
    * exportchoicesurl
    * progress

    Example context (json):
    {
        "beforestart": false,
        "canedit": true,
        "canexportchoices": true,
        "choiceform": "<form>A form for taking user choices</form>",
        "courseurl": "http://example.com",
        "deadline": 123456789,
        "editingurl": "http://example.com",
        "exportchoicesurl": "http://example.com",
        "progress": {
            "editing": true
        }
    }
}}
{{#progress}}{{> mod_allocationform/progress }}{{/progress}}
{{#beforestart}}
    {{#canedit}}
        <div class="alert alert-warning">{{#str}} before_start, mod_allocationform {{/str}}</div>
    {{/canedit}}
    {{^canedit}}
        <div class="alert alert-danger">{{#str}} not_active, mod_allocationform {{/str}}</div>
        <div><a href="{{{courseurl}}}">{{#str}} continue {{/str}}</a></div>
    {{/canedit}}
{{/beforestart}}
{{^beforestart}}
    {{> mod_allocationform/choiceform }}
{{/beforestart}}
{{#canedit}}
    <p>
        <a href="{{{editingurl}}}" class="btn btn-secondary">{{#str}} back_to_edit, mod_allocationform {{/str}}</a>
        {{#str}} back_to_edit_warning, mod_allocationform {{/str}}
    </p>
{{/canedit}}
{{#canexportchoices}}
    <p>
        <a href="{{{exportchoicesurl}}}" class="btn btn-secondary">{{#str}} generate_csv, mod_allocationform {{/str}}</a>
    </p>
{{/canexportchoices}}
